<div class="playlist push-bottom">
  <div class="push-top">
    <div ng-include="'templates/user/user-profile.html'"></div>
    <div ng-include="'templates/user/user-profile-menu.html'"></div>
  
    <div class="header">
      <h2>{{ playlistName }}</h2>
      <a href="#" class="btn btn-danger"
         ng-click="openDeleteConfirmationBox(); $event.preventDefault()">Delete this playlist</a>
    </div>
    
    <div class="track-list-actions">
      <span ng-show="tracks.length">{{ tracks.length }}</span>
      <ng-pluralize count="tracks.length"
          when="{ '0': '',
                  '1': 'track',
                  'other': 'tracks' }">
      </ng-pluralize>
      <songs-actions songs="tracks" options="tracksActionsOptions"
                     on-remove="remove(tracks)"></songs-actions>
    </div>

    <div ng-include="emptyPlaylistMessageTemplateUrl"></div>

    <ul class="track-list">
      <li ng-repeat="track in tracks">
        <sr-track song="track" options="trackOptions" on-remove="$parent.remove(track)"></sr-track>
      </li>
    </ul>
  </div>
</div>
