<% layout('../layout') -%>
<% stylesheet('/css/coming-soon.css') -%>

<div class="container">
  <div class="message">
    <h1><%= appName %></h1>
    <p>Coming Soon</p>
    <p>contact@stereobuns.com</p>
  </div>

  <footer>
    <p>
      &copy; 2013 <%= appName %>
    </p>
  </footer>
</div>
