<div class="audio-player-queue container animate-show"
     ng-controller="AudioPlayerQueueCtrl"
     ng-show="shouldBeOpen">
  <div class="modal-header">
    <h4>Queue</h4>
  </div>
  
  <div class="modal-body" sr-no-scroll-propagation>
    <div class="track-list-actions">
      <span ng-show="songs.length">{{ songs.length }}</span>
      <ng-pluralize count="songs.length"
        when="{ '0': 'empty',
                '1': 'song',
                'other': 'songs' }">
      </ng-pluralize>
      <songs-actions songs="songs" options="songsActionsOptions"
                     on-remove="dequeue(songs)"></songs-actions>
    </div>
    
    <ul class="track-list">
      <li ng-repeat="song in songs">
        <sr-track song="song" options="songOptions" on-remove="dequeue(song)"></sr-track>
      </li>
    </ul>
  </div>
</div>
