<div class="audio-player-queue container animate-show"
     ng-controller="AudioPlayerQueueCtrl"
     ng-show="shouldBeOpen">
  <div class="modal-header">
    <div class="row-fluid">
      <div class="span6">
        <h4>Queue</h4>
      </div>
      <div class="span6">
        <button class="btn btn-primary pull-right"
                ng-click="close()">
          Close
        </button>
      </div>
    </div>
  </div>
  
  <div class="modal-body" sr-no-scroll-propagation>
    <div class="track-list-actions">
      <span ng-show="songs.length">{{ songs.length }}</span>
      <ng-pluralize count="songs.length"
        when="{ '0': 'empty',
                '1': 'track',
                'other': 'tracks' }">
      </ng-pluralize>
      <sr-track-actions tracks="songs" options="songsActionsOptions"
                        on-remove="dequeue(tracks)"></sr-track-actions>
    </div>
    
    <ul class="track-list">
      <li ng-repeat="song in songs">
        <sr-track track="song" options="songOptions" on-remove="dequeue(track)"></sr-track>
      </li>
    </ul>
  </div>
</div>
