<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SoundRocket</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1><%= error.message %></h1>
        <% if (settings['verbose errors']) { %>
            <pre>error.stack</pre>
        <% } else { %>
            <p>An error ocurred!</p>
        <% } %>
    </body>
</html>
