<!--
A sound aggregator.
Loïc Fontaine - http://github.com/lfont - MIT Licensed
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SoundRocket</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body class="signin">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">SoundRocket</a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="span4 offset4 oauths">
                        <a href="/auth/google" alt="Sign-in with Google" class="oauth google">
                            <i class="icon-google-plus-sign icon-2x logo"></i>
                            <p class="text">Sign-in with Google</p>
                        </a>
                        <a href="/auth/facebook" alt="Sign-in with Facebook" class="oauth facebook">
                            <i class="icon-facebook-sign icon-2x logo"></i>
                            <p class="text">Sign-in with Facebook</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
<!--
        <script>
            var _gaq = _gaq || [];    
            _gaq.push(['_setAccount', 'XX-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
-->
    </body>
</html>
