.content {
    padding: 40px 0 60px 0;
}

.playlist-overview {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 40px;
}

/* song drt */

.song {
    padding: 0 0 10px 0;
}

.song.media .media-body p {
    margin-bottom: 2px;
}

/* audio player */

.audio-player {
    color: grey;
}

.audio-player .button-bar {
    margin-top: 1.2em;
}

.audio-player .button-bar .btn {
    margin: 0;
}
