/* layout */

.content {
    padding: 40px 0 60px 0;
}


/* search */

.search .filters {
    margin-top: 3em;
}


/* song-bar */

.song-bar {
    margin-bottom: .5em;
}

.song-bar form {
    width: 100%;
}


/* song-list */

.song-list li {
    border-bottom: 1px solid #f2f2f2;
    padding: 1em .5em .2em .5em;
}

.song-list li:last-child {
    border-bottom: 0;
}

.song-list li.selected,
.song-list li:hover.selected {
    background-color: #3892FD;
}

.song-list li:hover {
    background-color: #EBF4FF;
}


/* song drt */

.song {
    padding: 0 0 10px 0;
}

.song.media .media-body p {
    margin-bottom: 2px;
}


/* audio player */

.audio-player {
    color: grey;
}

.audio-player .button-bar {
    margin-top: 1.2em;
}

.audio-player .button-bar .btn {
    margin: 0;
}
