/* scrollfix */

.search .songbar.ui-scrollfix,
.playlist .songbar.ui-scrollfix,
.songs .songbar.ui-scrollfix {
    position: fixed;
    top: 50px;
}

.audio-player-queue .songbar.ui-scrollfix {
    position: fixed;
}


/* song */

.song {
    padding: 0 0 10px 0;
}

.song .media-heading .btn {
    background: none;
    border: 0;
    box-shadow: none;
    text-shadow: none;
}

.song .media-body p {
    margin-bottom: 2px;
}


/* modal */

.modal-header {
    background-color: #1b1b1b;
    border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    color: #999999;
}
