@import url("../components/bootstrap/docs/assets/css/bootstrap.css");
@import url("../components/bootstrap/docs/assets/css/bootstrap-responsive.css");
@import url("../components/font-awesome/css/font-awesome.css");
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);


/* layout */

body, html {
  height: 100%;
}

.content {
  padding: 44px 0 0 0;
}

.push-top {
  margin-top: 3em;
}

/*
@media (min-width: 1200px) {

}

@media (max-width: 1199px) {

}
*/

@media (max-width: 979px) {
  .content {
    padding-top: 0;
  }

  .side-menu {
    margin-top: .5em;
  }

  .navbar-fixed-top {
    margin-bottom: 0;
  }

  .navbar-fixed-bottom {
    position: fixed;
  }

  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 0;
  }

  .btn {
    padding: 4px 10px;
  }
}

@media (max-width: 767px) {
  .content {
    padding-top: 0;
  }

  .side-menu {
    margin-top: .5em;
  }

  .navbar-fixed-top {
    margin-bottom: 0;
  }

  .navbar-fixed-bottom {
    position: fixed;
  }
}


/* fonts */

body {
  font-family: 'Josefin Sans', sans-serif;
}

input,
button,
select,
textarea {
  font-family: 'Josefin Sans', sans-serif;
}

.navbar-search .search-query {
  font-family: 'Josefin Sans', sans-serif;
}


/* common */

.navbar .brand {
  font-size: 26px;
}

.well.well-transparent {
  background-color: transparent;
}
