/* root */

.root .introduction,
.root .oauths {
  color: white;
  margin-top: 10%;
}

.root .introduction {
  font-size: 26px;
}

.root .introduction > p > span {
  background: black;
  display: inline-block;
  height: 35px;
  padding: 5px;
  opacity: .5;
}

.root .btn-oauth {
  color: #ffffff;
  background-image: none;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  display: block;
  font-size: 16px;
  line-height: 50px;
  margin: 0 auto 1em auto;
  padding: 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  width: 80%;
}

.root .btn-oauth.btn-oauth-google {
  background-color: #DF4A32;
}

.root .btn-oauth.btn-oauth-facebook {
  background-color: #5C77B4;
}

.root .btn-oauth .btn-oauth-icon {
  float: left;
  padding: 9px 12px;
}

.root .marketing {
  margin-top: 15%;
}

.root .well-wrapper {
  padding: 0 1.5em;
}

.root footer {
  color: white;
  margin-top: 2em;
}

@media (min-width: 768px) {
  .root footer {
    bottom: 0;
    position: fixed;
  }
}


/* user menu */

.user-menu .btn {
    background: none;
    border: 0;
    color: gray;
    text-shadow: none;
    box-shadow: none;
}

.user-menu .btn:hover,
.user-menu .btn.active {
    color: white;
}

.user-menu .icon-caret-down {
    margin-left: .5em;
}


/* search */

.search .searching {
    font-size: 2em;
    margin-top: 10%;
    text-align: center;
}


/* audio player bar */

.audio-player-bar {
    padding: 2px;
}

.audio-player-bar .song-info {
    color: gray;
}

.audio-player-bar .song-info .row-fluid [class*="span"] {
    min-height: 26px;
}

.audio-player-bar .song-info .button-bar .btn {
    padding: 3px 5px;
}

.audio-player-bar .button-bar .btn {
    background: none;
    border: 0;
    box-shadow: none;
    margin-top: 0;
    text-shadow: none;
}

.audio-player-bar .button-bar .icon-heart,
.audio-player-bar .button-bar .icon-heart-empty:hover {
    color: #ec352f;
}

.audio-player-bar .middle {
    line-height: 65px;
}

.audio-player-bar .button-bar .btn {
    color: white;
}

.audio-player-bar .button-bar .btn.active {
    color: #0088cc;
}

@media (max-width: 767px) {
    .audio-player-bar [class*="span"] {
        float: left;
        width: 50%;
    }
}


/* audio player queue */

.audio-player-queue {
    background-color: white;
    border: 1px solid #999;
    border-bottom: 0;
    border-radius: 7px 7px 0 0;
    box-shadow: 0 0 7px #999;
    bottom: -400px;
    left: 10%;
    height: 400px;
    position: fixed;
    width: 80%;
}

.audio-player-queue.visible {
  bottom: 66px;
}

.audio-player-queue .modal-header {
    background-color: #1b1b1b;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius:    6px 6px 0 0;
    border-radius:         6px 6px 0 0;
    color: #999999;
}

.audio-player-queue .modal-body {
    max-height: 311px;
    min-height: 311px;
}

.audio-player-queue.show-animation,
.audio-player-queue.hide-animation {
    -webkit-transition: all linear 0.3s;
    -moz-transition:    all linear 0.3s;
    transition:         all linear 0.3s;
}

.audio-player-queue.show-animation {
    bottom: -400px;
}

.audio-player-queue.show-animation-active {
    bottom: 66px;
}

.audio-player-queue.hide-animation {
    bottom: 66px;
}

.audio-player-queue.hide-animation-active {
    bottom: -400px;
}
