/* user menu */

.user-menu .btn {
    background: none;
    border: 0;
    color: gray;
    text-shadow: none;
    box-shadow: none;
}

.user-menu .btn:hover,
.user-menu .btn.active {
    color: white;
}

.user-menu .icon-caret-down {
    margin-left: .5em;
}


/* search */

.search .searching {
    font-size: 2em;
    margin-top: 10%;
    text-align: center;
}


/* audio player bar */

.audio-player-bar {
    padding: 2px;
}

.audio-player-bar .song-info {
    color: gray;
}

.audio-player-bar .song-info .row-fluid [class*="span"] {
    min-height: 26px;
}

.audio-player-bar .song-info .button-bar .btn {
    padding: 4px 5px;
}

.audio-player-bar .button-bar .btn {
    background: none;
    border: 0;
    box-shadow: none;
    margin-top: 0;
    text-shadow: none;
}

.audio-player-bar .button-bar .icon-heart,
.audio-player-bar .button-bar .icon-heart-empty:hover {
    color: #ec352f;
}

.audio-player-bar .middle {
    line-height: 65px;
}

.audio-player-bar .button-bar .btn {
    color: white;
}

.audio-player-bar .button-bar .btn.active {
    color: #0088cc;
}

@media (max-width: 767px) {
    .audio-player-bar [class*="span"] {
        float: left;
        width: 50%;
    }
}


/* audio player queue */

.audio-player-queue {
    background-color: white;
    border: 1px solid #999;
    border-bottom: 0;
    border-radius: 7px 7px 0 0;
    bottom: 66px;
    box-shadow: 0 0 7px #999;
    left: 10%;
    height: 400px;
    position: fixed;
    width: 80%;
}

.audio-player-queue .modal-body {
    max-height: 311px;
    min-height: 311px;
}

.audio-player-queue.show-animation,
.audio-player-queue.hide-animation {
    -webkit-transition: all linear 0.3s;
    -moz-transition:    all linear 0.3s;
    transition:         all linear 0.3s;
}

.audio-player-queue.show-animation {
    bottom: -400px;
    opacity: 0;
}

.audio-player-queue.show-animation-active {
    bottom: 66px;
    opacity: 1;
}

.audio-player-queue.hide-animation {
    bottom: 66px;
    opacity: 1;
}

.audio-player-queue.hide-animation-active {
    bottom: -400px;
    opacity: 0;
}
