.playlist .user-profile-menu {
  margin-top: 10px;
}

.playlist .header h2 {
  display: inline-block;
  margin-right: .5em;
  margin-top: -15px;
}

.playlist .header .btn {
  font-size: 12px;
  line-height: 10px;
  margin-top: -9px;
}
