/* background */

.background {
  background: url("/img/background.jpg") repeat scroll 0% 0% / cover transparent;
}


/* root */

.root .introduction,
.root .oauths {
  color: white;
  margin-top: 15%;
}

.root .introduction {
  font-size: 26px;
}

.root .introduction > p > span {
  background: black;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  padding: 5px;
  opacity: .5;
}

.root .btn-oauth {
  color: #ffffff;
  background-image: none;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  display: block;
  font-size: 16px;
  line-height: 50px;
  margin: 0 auto 1em auto;
  padding: 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  width: 80%;
}

.root .btn-oauth.btn-oauth-google {
  background-color: #DF4A32;
}

.root .btn-oauth.btn-oauth-facebook {
  background-color: #5C77B4;
}

.root .btn-oauth .btn-oauth-icon {
  float: left;
  padding: 9px 12px;
}

.root footer {
  bottom: 0;
  color: white;
  position: fixed;
}
