@import url("audio-player/audio-player.css");
@import url("audio-player/audio-player-queue.css");
@import url("keyboard-shortcuts/keyboard-shortcuts.css");
@import url("similar-tracks/similar-tracks.css");
@import url("track/track.css");
@import url("track-info/track-info.css");
@import url("track-search/track-search-results.css");
@import url("playlist-chooser.css");
@import url("playlist.css");
@import url("root.css");
@import url("settings.css");
@import url("song-progress.css");
@import url("songs-actions.css");
@import url("songs-group.css");
@import url("user-menu.css");
@import url("user-profile.css");


/* track-list-actions */

.track-list-actions {
  margin: 0 0 10px 0;    
}

.track-list-actions .songs-actions {
  display: inline-block;
  margin-left: .5em;
}


/* track-list */

.track-list {
  list-style-type: none;
  margin: 0;
}

.track-list > li {
  border-bottom: 1px solid #f2f2f2;
  padding: 1em .5em .2em .5em;
}

.track-list > li:last-child {
  border-bottom: 0;
}


/* validation */

form.ng-dirty .error {
  display: inline-block;
}

.error {
  color: red;
  display: none;
}
