.song {
  clear: both;
  padding: 0 0 10px 95px;
  position: relative;
  height: 100%;
}

.song .artwork {
  height: 80px;
  width: 80px;
  position: absolute;
  left: 0;
  top: 0;
}

.song .song-heading {
  height: 32px;
  margin-bottom: 10px;
  position: relative;
}

.song .song-heading .song-artist {
  margin: 0;
  position: absolute;
  top: 6px;
  left: 40px;
}

.song .song-heading .vinyl {
  height: 32px;
  width: 32px;
}

.song .song-heading .vinyl.play {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation:    spin 2s linear infinite;
  animation:         spin 2s linear infinite;
}

.song .song-player .btn {
  color: white;
  position: absolute;
  top: 4px;
}

.song .song-player .btn.play {
  left: 9px;
}

.song .song-player .btn.pause {
  left: 7px;
}

.song .song-progress {
  margin-bottom: 10px;
}

.song .song-links {
  color: #0088cc;
}
