@import url("directives.css");
@import url("partials.css");

/*@media (min-width: 1200px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 978px) {

}

@media (max-width: 767px) {

}*/


/* song actions */

.song-actions a {
    text-decoration: none;
}

.song-actions .btn {
    color: grey;
    font-size: 10px;
    line-height: 15px;
    margin: 0 .5em;
    padding: 0 5px;
}

.song-actions .btn:first-child {
    margin-left: 0;
}

.song-actions .btn:last-child {
    margin-right: 0;
}

.song-actions .icon-heart,
.song-actions .icon-heart-empty:hover {
    color: #ec352f;
}
