@import url("directives.css");
@import url("partials.css");

@media (min-width: 1200px) {
    .search .song-bar {
        width: 770px;
    }

    .playlist .song-bar {
        width: 970px;
    }
}

@media (max-width: 1199px) {
    .search .song-bar {
        width: 620px;
    }

    .playlist .song-bar {
        width: 780px;
    }
}

@media (max-width: 978px) {
    .search .song-bar {
        width: 476px;
    }

    .playlist .song-bar {
        width: 600px;
    }
}

/*@media (max-width: 767px) {

}*/


/* actions */

.audio-player-bar .actions a,
.song .media-body .actions a {
    color: grey;
    margin: 0 .5em;
    text-decoration: none;
}

.audio-player-bar .actions a:hover,
.song .media-body .actions a:hover {
    color: #0088cc;
}

.audio-player-bar .actions a:first-child,
.song .media-body .actions a:first-child {
    margin-left: 0;
}

.audio-player-bar .actions a:last-child,
.song .media-body .actions a:last-child {
    margin-right: 0;
}

.audio-player-bar .actions .icon-heart,
.audio-player-bar .actions .icon-heart-empty:hover,
.song .media-body .actions .icon-heart,
.song .media-body .actions .icon-heart-empty:hover {
    color: #ec352f;
}
