@import url("directives.css");
@import url("partials.css");

@media (min-width: 1200px) {
    .search .song-bar {
        width: 770px;
    }

    .playlist .song-bar {
        width: 970px;
    }
}

@media (max-width: 1199px) {
    .search .song-bar {
        width: 620px;
    }

    .playlist .song-bar {
        width: 780px;
    }
}

@media (max-width: 978px) {
    .search .song-bar {
        width: 476px;
    }

    .playlist .song-bar {
        width: 600px;
    }
}

/*@media (max-width: 767px) {

}*/


/* song actions */

.song-actions .btn {
    color: grey;
    font-size: 10px;
    line-height: 15px;
    margin: 0 .5em;
    padding: 0 5px;
}

.song-actions .btn:first-child {
    margin-left: 0;
}

.song-actions .btn:last-child {
    margin-right: 0;
}

.song-actions .icon-heart,
.song-actions .icon-heart-empty:hover {
    color: #ec352f;
}
