<% layout('../layout') -%>
<% stylesheet('/css/user.css') -%>
<% block('scripts', '<script data-main="/js/main" src="/components/requirejs/require.js"></script>') -%>

<div ng-controller="LayoutCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" ng-init="isNavBarCollapsed = true" ng-click="isNavBarCollapsed = !isNavBarCollapsed">
                    <i class="icon-align-justify"></i>
                </a>
                 
                <a class="brand" href="/home">SoundRocket</a>
                <div class="pull-right" ng-include="userMenuTemplateUrl"></div>
                 
                <div class="nav-collapse collapse navbar-responsive-collapse" collapse="isNavBarCollapsed">
                    <div ng-include="searchBarTemplateUrl"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container" ng-view></div>
    </div>
    <div class="container">
        <div ng-include="audioPlayerBarTemplateUrl"></div>
    </div>
</div>
