<div class="songs-group push-bottom">
  <div class="push-top">
    <div ng-include="'templates/user-profile.html'"></div>
    <div ng-include="'templates/user-profile-menu.html'"></div>

    <div class="track-list-actions">
      <span ng-show="songs.length">{{ songs.length }}</span>
      <ng-pluralize count="songs.length"
          when="{ '0': '',
                  '1': 'song',
                  'other': 'songs' }">
      </ng-pluralize>
      <songs-actions songs="songs" options="songsActionsOptions"></songs-actions>
    </div>

    <div ng-include="noSongMessageTemplateUrl"></div>

    <ul class="track-list">
      <li ng-repeat="song in songs">
        <sr-track song="song"></sr-track>
      </li>
    </ul>
  </div>
</div>
