.track-actions form {
  margin: 0;
  width: 100%;
}

.track-actions a {
  text-decoration: none;
}

.track-actions .btn-group {
  line-height: 10px;
}

.track-actions .btn {
  color: gray;
  font-size: 10px;
  line-height: 15px;
  margin: 0 .5em;
  padding: 0 5px;
}

.track-actions .btn:first-child {
  margin-left: 0;
}

.track-actions .btn:last-child {
  margin-right: 0;
}

li:last-child .track-actions .dropdown-menu {
  top: auto;
  bottom: 20px;
}

.track-actions .icon-heart,
.track-actions .icon-heart-empty:hover {
  color: #ec352f;
}
