<div class="similar-artists"
     ng-controller="SimilarArtistsCtrl">
  <h6>Similar artists</h6>
  <ul class="media-list">
    <li ng-if="artists.length == 0">No similar artist found</li>
    <li class="media" ng-repeat="artist in artists">
      <a class="pull-left" href="/artist/{{ artist.name }}">
        <sr-artwork data="artist"></sr-artwork>
      </a>
      <div class="media-body">
        <h5 class="media-heading">{{ artist.name }}</h5>
        <a href="/artist/{{ artist.name }}">
          {{ artist.name }}
        </a>
      </div>
    </li>
  </ul>
</div>
