<div class="similar-artists"
     ng-controller="SimilarArtistsCtrl">
  <h5>Similar artists</h5>
  <ul class="media-list">
    <li ng-if="artists.length == 0">No similar artist found</li>
    <li class="media" ng-repeat="artist in artists">
      <a class="pull-left" href="/artist/{{ artist.name }}">
        <sr-artwork data="artist"></sr-artwork>
      </a>
      <div class="media-body">
        <h6 class="media-heading">
          <a href="/artist/{{ artist.name }}">
            {{ artist.name }}
          </a>
        </h6>
      </div>
    </li>
  </ul>
</div>
