<div class="top-albums"
     ng-controller="TopAlbumsCtrl">
  <h5 class="section-heading">Top albums</h5>

  <ul class="unstyled">
    <li ng-if="albums.length == 0">No top album found.</li>

    <li class="pull-left" ng-repeat="album in albums">
      <div>
        <a class="dropdown-toggle" href="#" title="{{ album.name }}"
           ng-click="$parent.loadAlbumTracks(album)">
          <sr-artwork data="album"></sr-artwork>  
        </a>
        
        <div class="dropdown-menu">
          <h6>{{ album.name }}</h6>
          <span class="divider"></span>
          <ul class="nav nav-pills nav-stacked" sr-no-scroll-propagation>
            <li ng-if="album.tracks.length == 0">No track found.</li>
  
            <li ng-repeat="track in album.tracks">
              <a href="/track/{{ album.artist }}/{{ track.name }}">{{ track.name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
