<div class="top-tracks"
     ng-controller="TopTracksCtrl">
  <h5>Top tracks</h5>
  
  <div class="track-list-actions">
    <span ng-show="tracks.length">{{ tracks.length }}</span>
    <ng-pluralize count="tracks.length"
        when="{ '0': '',
                '1': 'track',
                'other': 'tracks' }">
    </ng-pluralize>
    <songs-actions songs="tracks" options="tracksActionsOptions"></songs-actions>
  </div>

  <ul class="track-list">
    <li ng-repeat="track in tracks">
      <sr-track song="track"></sr-track>
    </li>
  </ul>
</div>
