<div class="top-tracks"
     ng-controller="TopTracksCtrl">
  <div class="row-fluid section-heading">
    <h5 class="span8">Top tracks</h5>
    <div class="span4">
      <a class="pull-right"
         href="/search?q={{ artist }}">Search more tracks...</a>  
    </div>
  </div>
  
  <div class="track-list-actions">
    <span ng-show="tracks.length">{{ tracks.length }}</span>
    <ng-pluralize count="tracks.length"
        when="{ '0': '',
                '1': 'track',
                'other': 'tracks' }">
    </ng-pluralize>
    <songs-actions songs="tracks" options="tracksActionsOptions"></songs-actions>
  </div>

  <ul class="track-list">
    <li ng-repeat="track in tracks">
      <sr-track song="track"></sr-track>
    </li>
  </ul>
</div>
