<div class="modal-header">
  <h3>Keyboard Shortcuts</h3>
</div>
<div class="modal-body">
  <div class="row-fluid keyboard-shortcuts">
    <div class="span6">
      <h4>Navigation</h4>
      <dl>
        <dt>
          <xkb>h</xkb>
        </dt>
        <dd>This help</dd>
        <dt>
          <xkb>esc</xkb>
        </dt>
        <dd>Close dialog window</dd>
      </dl>
    </div>
    <div class="span6">
      <h4>Player</h4>
      <dl>
        <dt>
          <xkb>Space</xkb>
        </dt>
        <dd>Toggle play & pause</dd>
        <dt>
          <xkb>p</xkb>
        </dt>
        <dd>Previous song</dd>
        <dt>
          <xkb>n</xkb>
        </dt>
        <dd>Next song</dd>
        <dt>
          <xkb>r</xkb>
        </dt>
        <dd>Toggle repeat mode</dd>
        <dt>
          <xkb>q</xkb>
        </dt>
        <dd>Open/Close the queue</dd>
        <dt>
          <xkb>l</xkb>
        </dt>
        <dd>Love/Unlove playing song</dd>
      </dl>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">Close</button>
</div>
