<% layout('../layout') -%>
<% stylesheet('/css/site.css') -%>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">StereoBuns</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="content">
        <div class="row-fluid">
            <div class="span6 introduction">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo eligendi esse dolor quasi molestiae. Nesciunt adipisci eligendi ipsum distinctio deleniti? Fugiat, tempora ipsam culpa laborum reiciendis veniam non excepturi sequi!
                </p>
            </div>

            <div class="span4 offset2 oauths">
                <a href="/auth/google" alt="Sign-in with Google" class="oauth google">
                    <i class="icon-google-plus-sign icon-2x logo"></i>
                    <p class="text">Sign-in with Google</p>
                </a>

                <a href="/auth/facebook" alt="Sign-in with Facebook" class="oauth facebook">
                    <i class="icon-facebook-sign icon-2x logo"></i>
                    <p class="text">Sign-in with Facebook</p>
                </a>
            </div>
        </div>
        <div class="row-fluid marketing">
            <div class="span4">
                <div class="well-wrapper">
                    <div class="well well-large">
                      <i class="icon-info icon-4x pull-left"></i>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo eligendi esse dolor quasi molestiae. Nesciunt adipisci eligendi ipsum distinctio deleniti? Fugiat, tempora ipsam culpa laborum reiciendis veniam non excepturi sequi!
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="well-wrapper">
                    <div class="well well-large">
                      <i class="icon-info icon-4x pull-left"></i>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo eligendi esse dolor quasi molestiae. Nesciunt adipisci eligendi ipsum distinctio deleniti? Fugiat, tempora ipsam culpa laborum reiciendis veniam non excepturi sequi!
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="well-wrapper">
                    <div class="well well-large">
                      <i class="icon-info icon-4x pull-left"></i>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo eligendi esse dolor quasi molestiae. Nesciunt adipisci eligendi ipsum distinctio deleniti? Fugiat, tempora ipsam culpa laborum reiciendis veniam non excepturi sequi!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>
            &copy; 2013 StereoBuns, Inc.
        </p>
    </footer>
</div>
