.user-menu .btn {
  color: gray;
  margin-top: 5px;
}

.user-menu .btn:hover,
.user-menu .btn.active {
  color: white;
}

.user-menu .btn img {
  height: 32px;
  width: 32px;
}

.user-menu .icon-caret-down {
  margin-left: .5em;
}
