.user-menu .btn {
  color: gray;
  margin-top: 5px;
}

.user-menu .btn:hover,
.user-menu .btn.active {
  color: white;
}

.user-menu img {
  height: 32px;
  width: 32px;
}

.user-menu .icon-caret-down {
  margin-left: 5px;
}

.user-menu .hidden-desktop {
  color: #999999;
  margin-left: 5px;
  margin-top: 10px;
}
