<div class="track-group push-bottom">
  <div class="push-top">
    <div ng-include="'templates/user-profile/user-profile.html'"></div>
    <div ng-include="'templates/user-profile/user-profile-menu.html'"></div>

    <div class="track-list-actions">
      <span ng-show="tracks.length">{{ tracks.length }}</span>
      <ng-pluralize count="tracks.length"
          when="{ '0': '',
                  '1': 'track',
                  'other': 'tracks' }">
      </ng-pluralize>
      <sr-track-actions tracks="tracks" options="tracksActionsOptions"></sr-track-actions>
    </div>

    <div ng-include="noTrackTemplateUrl"></div>

    <ul class="track-list">
      <li ng-repeat="track in tracks">
        <sr-track track="track"></sr-track>
      </li>
    </ul>
  </div>
</div>
