<% layout('./layout') -%>

<div class="span8 offset2 push-top">
  <div class="well well-large well-transparent">
    <i class="icon-warning-sign icon-4x icon-muted pull-left"></i>
    We're sorry but the requested url (<%= url %>) does not exists on StereoBuns.<br />
    Go back to the <a href="/">homepage</a>.
  </div>
</div>
