<% layout('./layout') -%>

<div class="span8 offset2 push-top">
  <div class="well well-large well-transparent">
    <i class="icon-warning-sign icon-4x icon-muted pull-left"></i>
    <%= error.message %><br />
    An error occurred. We're sorry about that.<br />
    Go back to the <a href="/">homepage</a>.
  </div>
</div>

<% if (settings['verbose errors']) { %>
  <pre><%= error.stack %></pre>
<% } %>
