.artist-info .artist .name {
  margin-top: 0;
}

.artist-info .artist .artwork {
  height: 192px;
  width: 192px;
}

.artist-info .bio,
.artist-info .top-tracks {
  margin-top: 10px;
}

.artist-info .bio {
  text-align: justify;
}
