.top-albums .artwork {
  height: 88px;
  width: 88px;
}

.top-albums .thumbnails > li {
  margin: -1px 0 0 0;
}

.top-albums .thumbnails > li .thumbnail {
  border-radius: 0;
  position: relative;
}

.top-albums .thumbnails > li .thumbnail a {
  display: inline-block;
  width: 100%;
}

.top-albums .dropdown-menu {
  top: 10%;
  left: 20%;
}

.top-albums .dropdown-menu h6 {
  padding-left: 5px;
}

.top-albums .dropdown-menu .divider {
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
  display: block;
  height: 1px;
  margin: 5px 0;
  overflow: hidden;
}

.top-albums .dropdown-menu .nav {
  min-height: 35px;
  max-height: 180px;
  margin-bottom: 0;
  overflow-y: auto;
  padding: 0 5px;
}
