.top-albums .artwork {
  height: 80px;
  width: 80px;
}

.top-albums .thumbnails > li {
  margin-left: 0;
  margin-right: 5px;
}

.top-albums .thumbnails > li .thumbnail {
  position: relative;
}

.top-albums .thumbnails > li .thumbnail .dropdown-menu {
  top: 10%;
  left: 50%;
}
