<div class="similar-tracks"
     ng-controller="SimilarTracksCtrl">
  <h5 class="section-heading">Similar tracks</h5>
  
  <ul class="media-list">
    <li ng-if="tracks.length == 0">No similar track found</li>
    <li class="media" ng-repeat="track in tracks">
      <a class="pull-left" href="/track/{{ track.artist }}/{{ track.name }}">
        <sr-artwork data="track"></sr-artwork>
      </a>
      <div class="media-body">
        <h6 class="media-heading">
          <a href="/artist/{{ track.artist }}">
            {{ track.artist }}
          </a>
        </h6>
        <a href="/track/{{ track.artist }}/{{ track.name }}">
          {{ track.name }}
        </a>
      </div>
    </li>
  </ul>
</div>
