<div class="track-info push-bottom row-fluid">
  <div class="span9 push-top">
    <a class="pull-right"
       href="/search?q={{ song.artist }} {{ song.name }}"
       ng-show="song">More results...</a>  
    <sr-track song="song"></sr-track>
    <form name="commentForm"
          ng-submit="addComment()"
          novalidate>
      <input type="text" name="commentInput" class="input-block-level"
             placeholder="Write a comment..."
             maxlength="140"
             ng-model="newComment"
             required
             ng-minlength="1"
             ng-maxlength="140">
    </form>
    
    <div class="comments">
      <h4 class="section-heading">Comments</h4>
    
      <span ng-show="comments.length">{{ comments.length }}</span>
      <ng-pluralize count="comments.length"
          when="{ '0': 'Be the first to write a comment.',
                  '1': 'comment',
                  'other': 'comments' }">
      </ng-pluralize>
      
      <ul class="media-list">
        <li class="media" ng-repeat="comment in comments">
          <img class="media-object pull-left" alt="{{ comment._creator.name }}"
               ng-src="{{ comment._creator.picture }}">
          <div class="media-body">
            <h6 class="media-heading">
              {{ comment._creator.name }}
              <small>on {{ comment.createdAt | date: 'medium' }}</small>
            </h6>
            {{ comment.body }}
          </div>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="span3 push-top">
    <div ng-include="'templates/track-info/track-album.html'"></div>
    <div ng-include="'templates/track-info/similar-tracks.html'"></div>
  </div>
</div>
