<div class="row-fluid audio-player" ng-controller="AudioPlayerCtrl">
        <div class="span3 button-bar">
            <button class="btn" ng-click="showPlaylist()">
                <i class="icon-list"></i>
            </button>
        </div>
        
        <div class="span3 button-bar">
            <button class="btn" ng-click="previous()">
                <i class="icon-step-backward"></i>
            </button>
            <button class="btn" ng-click="togglePlay()">
                <i class="icon-play" ng-hide="isPlaying"></i>
                <i class="icon-pause" ng-show="isPlaying"></i>
            </button>
            <button class="btn" ng-click="next()">
                <i class="icon-step-forward"></i>
            </button>
        </div>
            
        <div class="span6">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" width="64px" height="64px" ng-src="{{ song.artworkUrl }}">
                </a>
                <div class="media-body">
                    <h6 class="media-heading">{{ song.track }} by {{ song.artist }} on {{ song.source }}</h6>
                    <div class="row-fluid">
                        <div class="span2">
                            {{ progress.position }}
                        </div>
                        <div class="span8">
                            <div class="progress">
                                <div class="bar" style="width: {{ progress.percentage }}%;"></div>
                            </div>
                        </div>
                        <div class="span2">
                            {{ progress.duration }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
