<div ng-controller="AudioPlayerQueueCtrl" modal="shouldBeOpen" close="close()" options="modalOptions">
    <div class="audio-player-queue">
        <div class="modal-header">
            <div class="row-fluid">
                <div class="span10">
                    <h4>Queue</h4>
                </div>
                <div class="span2">
                    <h5 class="pull-right">
                        <span ng-show="queue.length">{{ queue.length }}</span>
                        <ng-pluralize count="queue.length"
                            when="{ '0': 'empty',
                                    '1': 'song',
                                    'other': 'songs' }">
                        </ng-pluralize>
                    </h5>
                </div>
            </div>
        </div>
        <div class="modal-body" no-scroll-propagation>
            <songbar all-songs="queue" selected-songs="selectedSongs" options="songBarOptions"
                     on-remove="dequeue" ng-show="queue.length" ui-scrollfix="{ offset: '5', scroller: '.audio-player-queue .modal-body' }"></songbar>
            <ul class="media-list song-list">
                <li ng-repeat="song in queue"
                    ng-click="$parent.toggleSongSelection(song)"
                    ng-class="{ selected: $parent.isSongSelected(song) }">
                    <song data="song"></song>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn" ng-click="close()">Close</button>
        </div>
    </div>
</div>
