<div class="playlist row">
    <div class="span10">
        <h1>{{ playlistStore.name }}</h1>
        <p>
            <span ng-show="playlistStore.length()">{{ playlistStore.length() }}</span>
            <ng-pluralize count="playlistStore.length()"
                when="{ '0': 'no song',
                        '1': 'song',
                        'other': 'songs' }">
            </ng-pluralize>
        </p>
        <div ng-show="playlistStore.length()">
            <songbar all-songs="playlistStore.getAll()" selected-songs="selectedSongs"
                     ui-scrollfix="{ offset: '-50' }"></songbar>
            <ul class="media-list song-list">
                <li ng-repeat="song in playlistStore.getAll()"
                    ng-click="$parent.toggleSongSelection(song)"
                    ng-class="{ selected: $parent.isSongSelected(song) }">
                    <song data="song"></song>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="span2" ng-include="playlistsTemplateUrl"></div>
</div>
