<div class="root">
  <div class="row-fluid">
    <div class="span6 introduction">
      <p>
        <span><strong>Search, organise, listen</strong></span><br />
        <span>Music is everywhere on the web and now in</span><br />
        <span>StereoBuns just for you</span>
      </p>
    </div>

    <div class="span5 offset1 oauths">
      <button class="oauth google" ng-click="signIn('google')">
        <i class="icon-google-plus-sign icon-2x logo"></i>
        <p class="text">Sign-in with Google</p>
      </button>

      <button class="oauth facebook" ng-click="signIn('facebook')">
        <i class="icon-facebook-sign icon-2x logo"></i>
        <p class="text">Sign-in with Facebook</p>
      </button>
    </div>
  </div>
    
  <div class="row-fluid marketing">
    <div class="span4">
      <div class="well-wrapper">
        <div class="well well-large">
          <i class="icon-search icon-2x pull-left"></i>
          Search for music on the greatest music providers on the Web. We now feature exfm, SoundCloud, official.fm and Jamendo. There are more to come.
        </div>
      </div>
    </div>

    <div class="span4">
      <div class="well-wrapper">
        <div class="well well-large">
          <i class="icon-play icon-2x pull-left"></i>
          Listen instantly your favorites songs or the latest tube. Organise them in playlist to keep them around. What your want to listen is just a click around.
        </div>
      </div>
    </div>

    <div class="span4">
      <div class="well-wrapper">
        <div class="well well-large">
          <i class="icon-music icon-2x pull-left"></i>
          Love song, keep an eye on your most played one. Music is our passion, we have a lot of ideas to continuously improve your music experience.
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p>
      &copy; 2013 StereoBuns, Inc.
    </p>
  </footer>
</div>
