<div class="root">
  <div class="row-fluid">
    <div class="span6 introduction">
      <p>
        <span><strong>A new music experience.</strong></span>
        <br />
        <span>Now in private beta.</span>
      </p>
    </div>

    <div class="span5 offset1 oauths">
      <button class="btn btn-oauth btn-oauth-google" ng-click="signIn('google')">
        <i class="icon-google-plus-sign icon-2x btn-oauth-icon"></i>
        Sign-in with Google
      </button>

      <button class="btn btn-oauth btn-oauth-facebook" ng-click="signIn('facebook')">
        <i class="icon-facebook-sign icon-2x btn-oauth-icon"></i>
        Sign-in with Facebook
      </button>
    </div>
  </div>

  <footer>
    <p>
      &copy; 2013 stereobuns
    </p>
    <span> - </span>
    <ul class="links">
      <li>
        <a href="mailto:{{ contactAddress }}">contact us</a>
      </li>
    </ul>
  </footer>
</div>
