<div class="similar-tracks"
     ng-controller="SimilarTracksCtrl">
  <h6>Similar tracks</h6>
  <ul class="media-list">
    <li class="media" ng-repeat="track in tracks">
      <a class="pull-left" href="/track/{{ track.artist }}/{{ track.name }}">
        <artwork data="track" type="track"></artwork>
      </a>
      <div class="media-body">
        <h5 class="media-heading">{{ track.artist }}</h5>
        <a href="/track/{{ track.artist }}/{{ track.name }}">
          {{ track.name }}
        </a>
      </div>
    </li>
  </ul>
</div>
