<div class="songs-actions" ng-show="isVisible" ng-click="$event.stopPropagation()">
  <div class="btn-group" ng-show="options.playlists">
    <button class="btn dropdown-toggle" title="Add To Playlist...">
      <i class="icon-reorder"></i>
    </button>
    <playlist-chooser songs="songs" class="dropdown-menu" options="playlistsOptions"></playlist-chooser>
  </div>
  
  <button class="btn" title="Play" ng-click="play()" ng-show="options.play">
    <i class="icon-play"></i>
  </button>
  
  <button class="btn" title="Queue" ng-click="queue()" ng-show="options.queue">
    <i class="icon-plus"></i>
  </button>
  
  <button class="btn" title="Love" ng-click="toggleLove()" ng-if="!isMulti">
    <i ng-class="{ 'icon-heart': songs.loved, 'icon-heart-empty': !songs.loved }"></i>
  </button>
  
  <button class="btn btn-danger" title="Remove" ng-click="remove()" ng-show="options.remove">
    <i class="icon-remove"></i>
  </button>
</div>
