<div class="song media">
    <a class="pull-left" href="#" ng-click="play(); $event.preventDefault(); $event.stopPropagation()">
        <artwork song="song"></artwork>
    </a>
    <div class="media-body">
        <h4 class="media-heading">
            <i ng-class="{ 'icon-play': isPlaying, 'icon-pause': !isPlaying }"
               ng-show="isCurrent()"></i>
            {{ song.artist }}
        </h4>
        <p>
            {{ song.track }}
            <span ng-show="song.album"> - {{ song.album }}</span>
        </p>
        <div class="row-fluid">
            <div class="span10">
                <p>
                    {{ song.source }}
                    <span ng-show="song.duration"> - {{ song.duration | time }}</span>
                </p>
            </div>
            <div class="span2">
                <div class="pull-right actions">
                    <a href="#" title="Queue" ng-click="queue(); $event.preventDefault(); $event.stopPropagation()"
                        ng-show="options.queue">
                        <i class="icon-plus"></i>
                    </a>
                    <a href="#" title="Love" ng-click="toggleLoveStatus(); $event.preventDefault(); $event.stopPropagation()">
                        <i ng-class="{ 'icon-heart': song.loved, 'icon-heart-empty': !song.loved }"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
