<div class="songs row">
    <div class="span10">
        <h1>{{ name }}</h1>
        <p>
            <span ng-show="songs.length">{{ songs.length }}</span>
            <ng-pluralize count="songs.length"
                when="{ '0': 'no song',
                        '1': 'song',
                        'other': 'songs' }">
            </ng-pluralize>
        </p>
        <div ng-show="songs.length">
            <songbar all-songs="songs" selected-songs="selectedSongs"
                     ui-scrollfix="{ offset: '-50' }"></songbar>
            <ul class="media-list song-list">
                <li ng-repeat="song in songs"
                    ng-click="$parent.toggleSongSelection(song)"
                    ng-class="{ selected: $parent.isSongSelected(song) }">
                    <song data="song"></song>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="span2" ng-include="playlistsTemplateUrl"></div>
</div>
