<div class="song-info push-bottom row-fluid">
  <div class="span3">
    <img class="push-top"
         ng-src="{{ trackInfo.album.artworkUrl }}"
         alt="{{ trackInfo.album.name }}">
    <div>
      <h4>
        {{ trackInfo.album.name }}
      </h4>
      <ul class="nav">
        <li ng-repeat="track in albumInfo.tracks">{{ track.name }}</li>
      </ul>
    </div>
  </div>

  <div class="span6">
    <div>
      <h3>{{ trackInfo.artist }}</h3>
      <h2>{{ trackInfo.name }}</h2>
    </div>
  </div>
  
  <div class="span3">
    <div class="push-top">
      <div ng-include="songsStatusTemplateUrl"></div>
      <div ng-include="playlistsTemplateUrl"></div>
    </div>
  </div>
</div>
