<div class="songs-group push-bottom row-fluid">
  <div class="span9 push-top">
    <user-profile></user-profile>
    <user-profile-menu></user-profile-menu>

    <div class="track-list-actions">
      <span ng-show="songs.length">{{ songs.length }}</span>
      <ng-pluralize count="songs.length"
          when="{ '0': '',
                  '1': 'song',
                  'other': 'songs' }">
      </ng-pluralize>
      <songs-actions songs="songs" options="songsActionsOptions"></songs-actions>
    </div>

    <div ng-include="noSongMessageTemplateUrl"></div>

    <ul class="track-list">
      <li ng-repeat="song in songs">
        <song song="song"></song>
      </li>
    </ul>
  </div>
  
  <div class="span3 push-top">
    <div ng-include="songsStatusTemplateUrl"></div>
    <div ng-include="playlistsTemplateUrl"></div>
  </div>
</div>
