<div class="song-info push-bottom row-fluid">
  <div class="span3">
    <img class="push-top"
         ng-src="{{ trackInfo.album.artworkUrl }}"
         alt="{{ trackInfo.album.name }}">
    <h4>
      {{ trackInfo.album.name }}
    </h4>
    <ul class="nav">
      <li ng-repeat="track in trackInfo.album.tracks">
        <a href="/search?q={{ trackInfo.artist }} {{ track.name }}">{{ track.name }}</a>
      </li>
    </ul>
  </div>

  <div class="span6">
    <div class="push-top">
      <h3>{{ trackInfo.artist }}</h3>
      <h2>{{ trackInfo.name }}</h2>
    </div>
  </div>
  
  <div class="span3">
    <div class="push-top">
      <div ng-include="songsStatusTemplateUrl"></div>
      <div ng-include="playlistsTemplateUrl"></div>
    </div>
  </div>
</div>
