<div class="songs row-fluid">
    <div class="span10">
        <div class="playlist-header">
            <h1>{{ name }}</h1>
        </div>
        
        <div class="playlist-actions">
            <span ng-show="songs.length">{{ songs.length }}</span>
            <ng-pluralize count="songs.length"
                when="{ '0': 'no song',
                        '1': 'song',
                        'other': 'songs' }">
            </ng-pluralize>
            <songs-actions songs="songs" options="songsActionsOptions"></songs-actions>
        </div>
        
        <ul class="playlist-songs">
            <li ng-repeat="song in songs">
                <song song="song"></song>
            </li>
        </ul>
    </div>
    
    <div class="span2">
        <div class="side-menu">
            <div ng-include="songsStatusTemplateUrl"></div>
            <div ng-include="playlistsTemplateUrl"></div>
        </div>
    </div>
</div>
