<div class="song media">
    <artwork song="song" class="pull-left"></artwork>
    <div class="media-body">
        <h4 class="media-heading">
            <button class="btn" title="Play" ng-click="togglePlay(); $event.stopPropagation()"
                    ng-if="!isPlaying()">
                <i class="icon-play"></i>
            </button>
            <button class="btn" title="Pause" ng-click="togglePlay(); $event.stopPropagation()"
                    ng-if="isPlaying()">
                <i class="icon-pause"></i>
            </button>
            {{ song.artist }}
        </h4>
        <p>
            {{ song.track }}
            <span ng-show="song.album"> - {{ song.album }}</span>
        </p>
        <div class="row-fluid">
            <div class="span10">
                <p>
                    <a href="{{ song.linkUrl }}" title="{{ song.source }}" target="_blank"
                       ng-show="song.linkUrl" ng-click="$event.stopPropagation()">{{ song.source }}</a>
                    <span ng-hide="song.linkUrl">{{ song.source }}</span>
                    <span ng-show="song.duration"> - {{ song.duration | time }}</span>
                </p>
            </div>
            <div class="span2">
                <div class="pull-right song-actions">
                    <button class="btn" title="Queue" ng-click="queue(); $event.stopPropagation()" ng-show="options.queue">
                        <i class="icon-plus"></i>
                    </button>
                    <button class="btn" title="Love" ng-click="toggleLoveStatus(); $event.stopPropagation()">
                        <i ng-class="{ 'icon-heart': song.loved, 'icon-heart-empty': !song.loved }"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
