<div class="songbar">
    <form class="pull-left">
        <button class="btn" ng-click="remove()" ng-show="options.remove">
            <i class="icon-remove"></i>
            Remove
            <span ng-show="selectedSongs.length">({{ selectedSongs.length }})</span>
            <ng-pluralize count="selectedSongs.length"
                when="{ '0': 'All',
                        '1': '',
                        'other': '' }">
            </ng-pluralize>
        </button>
        
        <button class="btn" ng-click="play()" ng-show="options.play">
            <i class="icon-play"></i>
            Play
            <span ng-show="selectedSongs.length">({{ selectedSongs.length }})</span>
            <ng-pluralize count="selectedSongs.length"
                when="{ '0': 'All',
                        '1': '',
                        'other': '' }">
            </ng-pluralize>
        </button>
        
        <button class="btn" ng-click="queue()" ng-show="options.queue">
            <i class="icon-plus"></i>
            Queue
            <span ng-show="selectedSongs.length">({{ selectedSongs.length }})</span>
            <ng-pluralize count="selectedSongs.length"
                when="{ '0': 'All',
                        '1': '',
                        'other': '' }">
            </ng-pluralize>
        </button>
        
        <div class="btn-group" ng-show="options.playlists">
            <button class="btn dropdown-toggle">
                Add
                <span ng-show="selectedSongs.length">({{ selectedSongs.length }})</span>
                <ng-pluralize count="selectedSongs.length"
                    when="{ '0': 'All',
                            '1': '',
                            'other': '' }">
                </ng-pluralize>
                To Playlist...
                <i class="icon-caret-down"></i>
            </button>
            <playlist-chooser songs="getSongs()" options="playlistsOptions" class="dropdown-menu"></playlist-chooser>
        </div>
        
        <button class="btn pull-right" ng-click="deselect()" ng-show="selectedSongs.length">
            <i class="icon-check-empty"></i>
            Deselect
        </button>
    </form>
</div>
