<div class="songs row-fluid">
  <div class="span9">
    <div class="playlist-header">
      <h1>{{ name }}</h1>
    </div>

    <div class="playlist-actions">
      <span ng-show="songs.length">{{ songs.length }}</span>
      <ng-pluralize count="songs.length"
          when="{ '0': '',
                  '1': 'song',
                  'other': 'songs' }">
      </ng-pluralize>
      <songs-actions songs="songs" options="songsActionsOptions"></songs-actions>
    </div>

    <div ng-switch on="songs.length">
      <div ng-switch-when="0" ng-include="noSongMessageTemplateUrl"></div>

      <ul ng-switch-default class="playlist-songs">
        <li ng-repeat="song in songs">
          <song song="song"></song>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="span3">
    <div class="side-menu">
      <div ng-include="songsStatusTemplateUrl"></div>
      <div ng-include="playlistsTemplateUrl"></div>
    </div>
  </div>
</div>
