<div class="track">
  <a href="/track/{{ song.artist }}/{{ song.track }}?trackId={{ song.trackId }}">
    <sr-artwork data="song" type="song"></sr-artwork>
  </a>

  <div class="track-heading">
    <div class="track-player">
      <img src="/img/vinyl.png" class="vinyl"
           ng-class="{ play: isPlaying }">
      <button class="btn btn-clean play" title="Play"
              ng-click="togglePlay(); $event.stopPropagation()" ng-if="!isPlaying">
        <i class="icon-play icon-large"></i>
      </button>
      <button class="btn btn-clean pause" title="Pause"
              ng-click="togglePlay(); $event.stopPropagation()" ng-if="isPlaying">
        <i class="icon-pause icon-large"></i>
      </button>
    </div>
      
    <h4 class="track-artist">{{ song.artist }}</h4>
  </div>
  
  <p>
    <a href="/track/{{ song.artist }}/{{ song.track }}?trackId={{ song.trackId }}">
      {{ song.track }}
    </a>
  </p>

  <song-progress ng-if="isPlaying"></song-progress>
    
  <div class="row-fluid">
    <div class="span8">
      <songs-actions songs="song" options="options"
                     on-remove="remove(songs)"></songs-actions>
    </div>
      
    <div class="span4">
      <p class="track-links pull-right"
         ng-switch="song.linkUrl">
        <i class="icon-cloud"></i>
        <span title="source"
              ng-switch-when="null">{{ song.source }}</span>
        <a href="{{ song.linkUrl }}" title="source" target="_blank"
           ng-switch-default=""
           ng-click="$event.stopPropagation()">
           {{ song.source }}
         </a>
      </p>
    </div>
  </div>
</div>
