<div class="user-menu" ng-controller="UserMenuCtrl">
    <img ng-src="{{ user.picture }}" width="30px" height="30px" />
    <div class="btn-group">
        <a href="/home" class="btn btn-inverse">{{ user.name }}</a>
        <button class="btn dropdown-toggle btn-inverse" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="/logout">Sign out</a>
            </li>
        </ul>
    </div>
</div>
