<div class="user-menu"
     ng-controller="UserMenuCtrl"
     shortcut="{ h: 'openKeyboardShortcuts()' }">
  <div class="dropdown" ng-init="isOpen = false">
    <button class="btn dropdown-toggle" ng-class="{ active: isOpen }" ng-click="isOpen = !isOpen">
      <img ng-src="{{ user.picture }}" width="30px" height="30px" />    
      {{ user.name }}
      <i class="icon-caret-down icon-large"></i>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="#" ng-click="openKeyboardShortcuts(); $event.preventDefault()">Keyboard shortcuts</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="/settings/account">Settings</a>
      </li>
      <li>
        <a href="#" ng-click="signOut(); $event.preventDefault()">Sign out</a>
      </li>
    </ul>
  </div>
</div>
