<div class="user-menu" ng-controller="UserMenuCtrl">
    <img src="http://www.gravatar.com/avatar/34619a8ae564c2e0ce2998df24583fb1?s=30" />
    <div class="btn-group">
        <a href="/" class="btn btn-inverse">lfont</a>
        <button class="btn dropdown-toggle btn-inverse" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="/logout">Sign out</a>
            </li>
        </ul>
    </div>
</div>
