<div class="track-actions"
     ng-click="$event.stopPropagation()"
     ng-show="shouldBeVisible">
  <div class="btn-group" ng-show="options.playlists">
    <button class="btn dropdown-toggle" title="Add to playlist">
      <i class="icon-reorder"></i>
      Add to playlist
    </button>
    <div class="dropdown-menu">
      <sr-playlist-chooser tracks="tracks" options="playlistsOptions"></sr-playlist-chooser>
    </div>
  </div>
  
  <button class="btn" title="Play" ng-click="play()" ng-show="options.play">
    <i class="icon-play"></i>
    Play
  </button>
  
  <button class="btn" title="Queue" ng-click="queue()" ng-show="options.queue">
    <i class="icon-plus"></i>
    Queue
  </button>
  
  <button class="btn" title="Love"
          ng-click="toggleLove()"
          ng-if="options.loved && !isMulti"
          ng-switch="tracks.loved">
    <i ng-class="{ 'icon-heart': tracks.loved, 'icon-heart-empty': !tracks.loved }"></i>
    <span ng-switch-when="true"></span>
    <span ng-switch-default="">Love</span>
  </button>
  
  <button class="btn btn-danger" title="Remove" ng-click="remove()" ng-show="options.remove">
    <i class="icon-remove"></i>
  </button>
</div>
