<div class="playlist-chooser">
  <ul class="nav nav-pills nav-stacked" sr-no-scroll-propagation>
    <li ng-repeat="playlist in playlists">
      <a href="#" ng-click="$parent.addToPlaylist(playlist); $event.preventDefault()">{{ playlist.name }}</a>
    </li>
  </ul>
  <span class="divider"></span>
  <form class="form-inline" name="playlistForm" ng-submit="createPlaylist()" ng-click="$event.stopPropagation()">
    <input type="text" placeholder="Name your new playlist" class="input-medium" name="nameField"
           ng-model="newPlaylistName" required maxlength="20">
    <input type="submit" class="btn" value="Create">
  </form>
</div>
