<div class="track"
     ng-if="track">
  <a href="/track/{{ track.artist }}/{{ track.name }}?trackId={{ track.trackId }}"
     class="thumbnail">
    <sr-artwork data="track"></sr-artwork>
  </a>

  <div class="track-heading">
    <div class="track-player">
      <img src="/img/vinyl.png" class="vinyl"
           ng-class="{ play: isPlaying }">
      <button class="btn btn-clean play" title="Play"
              ng-click="togglePlay(); $event.stopPropagation()" ng-if="!isPlaying">
        <i class="icon-play icon-large"></i>
      </button>
      <button class="btn btn-clean pause" title="Pause"
              ng-click="togglePlay(); $event.stopPropagation()" ng-if="isPlaying">
        <i class="icon-pause icon-large"></i>
      </button>
    </div>
      
    <h4 class="track-artist">
      <a href="/artist/{{ track.artist }}">
        {{ track.artist }}
      </a>
    </h4>
  </div>
  
  <p>
    <a href="/track/{{ track.artist }}/{{ track.name }}?trackId={{ track.trackId }}">
      {{ track.name }}
    </a>
  </p>

  <sr-track-progress ng-if="isPlaying"></sr-track-progress>
    
  <div class="row-fluid">
    <div class="span8">
      <sr-track-actions tracks="track" options="options"
                        on-remove="remove(tracks)"></sr-track-actions>
    </div>
      
    <div class="span4">
      <p class="track-links pull-right">
        <a href="{{ track.linkUrl }}" title="{{ track.source }}" target="_blank"
           ng-click="$event.stopPropagation()">
          <img class="source" alt="{{ track.source }}"
               ng-src="/tomahawk/resolvers/{{ track.source }}/icon.png">
        </a>
      </p>
    </div>
  </div>
</div>
