<div class="track"
     ng-show="song">
  <a href="/track/{{ song.artist }}/{{ song.name }}?trackId={{ song.trackId }}">
    <sr-artwork data="song"></sr-artwork>
  </a>

  <div class="track-heading">
    <div class="track-player">
      <img src="/img/vinyl.png" class="vinyl"
           ng-class="{ play: isPlaying }">
      <button class="btn btn-clean play" title="Play"
              ng-click="togglePlay(); $event.stopPropagation()" ng-if="!isPlaying">
        <i class="icon-play icon-large"></i>
      </button>
      <button class="btn btn-clean pause" title="Pause"
              ng-click="togglePlay(); $event.stopPropagation()" ng-if="isPlaying">
        <i class="icon-pause icon-large"></i>
      </button>
    </div>
      
    <h4 class="track-artist">
      <a href="/artist/{{ song.artist }}">
        {{ song.artist }}
      </a>
    </h4>
  </div>
  
  <p>
    <a href="/track/{{ song.artist }}/{{ song.name }}?trackId={{ song.trackId }}">
      {{ song.name }}
    </a>
  </p>

  <song-progress ng-if="isPlaying"></song-progress>
    
  <div class="row-fluid">
    <div class="span8">
      <songs-actions songs="song" options="options"
                     on-remove="remove(songs)"></songs-actions>
    </div>
      
    <div class="span4">
      <p class="track-links pull-right">
        <a href="{{ song.linkUrl }}" title="{{ song.source }}" target="_blank"
           ng-click="$event.stopPropagation()">
          <img class="source" alt="{{ song.source }}"
               ng-src="/tomahawk/resolvers/{{ song.source }}/icon.png">
        </a>
      </p>
    </div>
  </div>
</div>
